:root {
    --color1:white;
    --color2:rgb(233, 239, 236);
    --color3:rgb(196, 218, 210);
    --color4:rgb(106, 156, 137);
    --color5: rgb(119, 174, 166);
    --color6: rgb(63, 93, 89);
}

body {
    background-color: var(--color1);
}
.navbar {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    height: 20px;
    background-color: var(--color5);
    border-bottom: 1px solid black;

    text-align: center;
}

.navbar a, footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 5%;
}

.about {
    margin: 5px;
    margin-top: 33px;
    
    background-color: var(--color2);
    border: 1px solid black;
    padding: 2%;
}

.aboutTxt{
    float: right;
    width: 48%;
}

.aboutTxt p{
    padding: 5px;
    margin: 5px;
    margin-top: -9px;
}

.header {
    font-size: large;
}

.about img, .aboutPicTxt {
    width: 48%;
}
.aboutPicTxt {
    text-align: center;
}

.aboutPicTxt p {
    font-size: large;
    margin: 5px;
}

.skills, .skillsHeader{
    float: left;
    width: 47%;
    margin: 5px;
}

.experience, .experienceHeader {
    float: right;
    width: 47%;
    margin: 5px;
    
}

.skills, .experience {
    margin-top: 0px;
    border: 1px solid black;
}
.skillsHeader, .experienceHeader {
    margin-left: 10px;
}

.skills {
    background-color: var(--color4);
}

.experience {
    background-color: var(--color4);
}

.skills p, .experience p {
    padding: 5px;
    margin: 5px;
}

.project, .projectHeader {
    float: left;
    width: 57.5%;
    margin: 5px;
}

.oval {
    float: left;
    width: 30%;
    height: 300px;
    margin: 1%;
    text-align: center;

    background-color: var(--color5);
    border: 1px solid black;
    border-radius: 50%;
}

.oval img{
    margin-top: 15%;
    width: 50%;
}

.oval p {
    margin-top: 0%;
    padding: 5px;
}

.blog, .blogHeader {
    float: right;
    width: 38%;
    margin: 5px;
    text-align: center;
}

.blogHeader, .projectHeader {
    margin-left: 10px;
    text-align: left;
}

.blog p {
    border: 1px solid black;
    background-color: var(--color3);
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    height: 220px;

    margin-top: 0%;
    padding: 5px;
}

.blog img {
    width: 20%;
    padding: 10px;
}

footer { 
    margin-top: -10px;
    float: left;
    width: 100%;
    height: 20px;
    background-color: var(--color5);
    border-top: 1px solid black;

    text-align: center;
}

